body {
    background: darkgray;
    padding-top: 15vh;
    background-size: cover;
    background-position: center;
    object-fit: contain;
}
.btn-login a{
   color: black;
   background-color: black;
   border-radius: 5px;
}
.text-white{
    color: #0062cc;
}
form {
    background: rgb(7, 7, 7);
    
}

.form-container {
    border-radius: 10px;
    padding: 30px;
    height: auto;
}
p{
    color: #f2f4f7;
}

.container {
    display: flex;
    min-height: 100vh;
}

.form-group {
    color: #f8f9fa;
    margin-bottom: 1rem;
}

.login-button {
    display: block;
    margin: 0 auto;
    background-color: #007bff;
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.login-button:hover {
    background-color: #0062cc;
}

.form-footer {
    margin-top: 10px;
}

.form-check-input[type="radio"] {
    margin-top: 0.3rem;
    margin-right: 0.5rem;
}

.dropdown-menu {
    min-width: unset;
}

.dropdown-item:hover {
    background-color: #f8f9fa;
}